In [4]:
import pandas as pd
df = pd.read_csv('nyc.csv')
df

     date  temperature(F)
0   Jan 1              27
1   Jan 2              31
2   Jan 3              23
3   Jan 4              34
4   Jan 5              37
5   Jan 6              38
6   Jan 7              29
7   Jan 8              30
8   Jan 9              35
9  Jan 10              30

In [5]:
class HashTable:
    def __init__(self):
        self.MAX = len(df)
        self.arr = [[] for i in range(self.MAX)]
    
    
    def get_hash(self, key):
        h = 0
        for char in key:
            h += ord(char)
        return h % self.MAX
    
    
    def __setitem__(self, entry, value):
        h = self.get_hash(entry)
        
        found = False
        for idx, element in enumerate(self.arr[h]):
            if len(element)==2 and element[0] == entry:
                self.arr[h][idx] = (entry,value)
                found = True
        if not found:
            self.arr[h].append((entry,value))
            
            
    def __getitem__(self, entry):
        h = self.get_hash(entry)
        
        for idx, element in enumerate(self.arr[h]):
            if element[0] == entry:
                return element[1]    
    
    
    def __delitem__(self, entry):
        h = self.get_hash(entry)
        
        for idx, element in enumerate(self.arr[h]):
            if element[0] == entry:
                del self.arr[h][idx]

In [18]:
t = HashTable()

for i in range(0, len(df)):
    t[df.iloc[i, 0]] = df.iloc[i, 1]

In [25]:
t.arr

[[('Jan 9', 35), ('Jan 10', 30)],
 [],
 [('Jan 1', 27)],
 [('Jan 2', 31)],
 [('Jan 3', 23)],
 [('Jan 4', 34)],
 [('Jan 5', 37)],
 [('Jan 6', 38)],
 [('Jan 7', 29)],
 [('Jan 8', 30)]]

#

In [40]:
with open ('poem.txt', 'r') as file:
    for line in file:
        print(line.strip())

Two roads diverged in a yellow wood,
And sorry I could not travel both
And be one traveler, long I stood
And looked down one as far as I could
To where it bent in the undergrowth;

Then took the other, as just as fair,
And having perhaps the better claim,
Because it was grassy and wanted wear;
Though as for that the passing there
Had worn them really about the same,

And both that morning equally lay
In leaves no step had trodden black.
Oh, I kept the first for another day!
Yet knowing how way leads on to way,
I doubted if I should ever come back.

I shall be telling this with a sigh
Somewhere ages and ages hence:
Two roads diverged in a wood, and Iâ€”
I took the one less traveled by,
And that has made all the difference.

In [43]:
import string

def remove_punctuation(text):
    punctuations = string.punctuation
    cleaned_text = text.translate(str.maketrans('', '', punctuations))
    return cleaned_text

with open('poem.txt', 'r') as file:
    text = file.read()
    new_text = remove_punctuation(text)
    words = new_text.split()

In [58]:
word_counts = {}

for word in words:
    word_counts[word] = word_counts.get(word, 0) + 1

In [61]:
t = HashTable()

for word in words:
    t[word] = word_counts[word]